// Theme Color
$PRIMARY_LIGHT: #06B1A7;
$PRIMARY_NORMAL: #007F77;
$PRIMARY_DARK: #035A55;
$WARNING: #D12419;
$NOTICE: #E2A70D;
$WHITE: #FFFFFF;
$SHADOW: rgba(0, 0, 0, 0.1);
$BLACK400: #949494;
$GRAY500: #767676;
$ALERT100: #F7D4DD;
$ALERT600: #8C3046;
$GRAY_LIGHT: #D2D2D2;
$GRAY200: #EEEEEE;
$GRAY400: #9A9A9A;
$ALERT400: #E75578;
$ALERT300: #F27594;
$BLACK300: #B9B9B9;
$BLACK200: #F3F3F3;

// Break-Point
$BREAKPOINT_DESKTOP: 1200px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_MOBILE: 375px;

// Font
$BOLD_FONT: 700;
$NORMAL_FONT: 500;
$LIGHT_FONT: 400;

$SUPER_LARGE_FONT: 32px;
$LARGE_FONT: 16px;
$MEDIUM_FONT: 14px;
$SM_FONT: 12px;
$SMALL_FONT: 10px;

// Transition
$TRANSITION: .2s ease;

// Effect
$SHADOW: 0px 4px 3px 0px #0D0B0C33;

// ScrollBar
$SCROLLBAR: rgb(190, 190, 190);
$SCROLLBAR_H: #888;